header {
    background-color: rgb(226, 245, 245);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    padding: 10px;
   }
   
   .logo {
   text-decoration: none ;
   color: brown;
   text-transform: uppercase;
   font-weight: 800;
   font-size: xx-large;
   }
   
   .navigation a{
       color: brown;
       text-decoration: none;
       font-size: 1.1em;
       font-weight: 500 ;
       padding: 5px;
   }
   
   .navigation a:hover{
      color: black;
   
   }
   
   section {
       padding: 100PX 200PX;
   }
   
   .main {
   
       width: 100px;
       min-height: 100vh ;
       display: flex;
       align-items: center;
       background: url(image/ayoub.jpg)  no-repeat;
       background-size:cover;
       background-position: center ;
       background-attachment: fixed;
   }
   
   
   .main h2 {
       color: rgb(33, 22, 95);
       font-size: 1.4em;
       font-weight: 500;
   }
   
   .main h2 span {
       display: inline-block;
       margin-top: 10px;
       color: #4e9eff;
       font-size: 3em;
       font-weight: 600;
   }